<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SF SoulFood</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/foodtype.css}">
</head>

<body>
    <div id="wrap">

		<nav th:replace="~{navbar :: navbarFragment}"></nav>

        <h1>음식 종류별 맛집</h1>

        <div class="box">
            <div class="type">음식 종류</div>
            <ul>
                <li>
                    <a th:href="@{/korean}">한식</a>
                </li>
                <li>
                    <a th:href="@{/chinese}">중식</a>
                </li>
                <li>
                    <a th:href="@{/japanes}">일식</a>
                </li>
                <li>
                    <a th:href="@{/western}">양식</a>
                </li>           
            </ul>
        </div>

        <h1>중식</h1>

        <div class="card-container">
            <div class="card">
            	<a th:href="@{/hidirao}">
                	<img th:src="@{/img/하이디라오.jpg}" alt="음식 사진">
                	<h2>하이디라오</h2>
                </a>
                <h4>중식</h4>
            </div>
            <div class="card">
            	<a th:href="@{/hamjibak}">
                	<img th:src="@{/img/함지박.jpg}" alt="음식 사진">
                	<h2>함지박</h2>
                </a>
                <h4>중식</h4>
            </div>
        </div>
        <footer th:replace="~{footer :: footerFragment}"></footer>
    </div>

    
</body>
</html>