<footer th:fragment="footerFragment" class="footer footer-expand-lg footer-light bg-light border-bottom">
<div class="footer">
            <ul>
                <li>
                    <span><a th:href="@{/#}" target="_blank"><strong>이용약관</strong></a></span>
                    &nbsp;|&nbsp;
                    <span><a th:href="@{/#}" target="_blank"><strong>개인정보처리방침</strong></a></span>
                </li>
                <li>
                    <span>상호:쏘울푸드</span> &nbsp;|&nbsp; 
                    <span>대표이사:권혁준</span>&nbsp;|&nbsp;
                    <span>개인정보관리책임자:이송은</span>
                </li>
                <li>
                    <span>문의: songsee1228@naver.com</span>&nbsp;|&nbsp;
                    <span>사업자 등록번호:000-00-00000</span>&nbsp;|&nbsp;
                    <span>전화문의:02-123-1234</span>
                </li>
                <li>
                    <span><a href="https://naver.me/5X9jGnf9" th:href="'https://naver.me/5X9jGnf9'">서울시 구로구 연동로 320</a></span>
                </li>
                <li>
                    <a href="https://facebook.com" th:href="'https://facebook.com'">
                        <img th:src="@{/img/facebook.png}" alt="facebook">
                    </a>
                    &nbsp;&nbsp;
                    <a href="https://instagram.com" th:href="'https://instagram.com'">
                        <img th:src="@{/img/instagram.jpg}" alt="instagram">
                    </a>
                </li>
            </ul>
            <span>©Copyright 2024 Soul Food. | All Rights Reserved</span>
        </div>
</footer>
