<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SF SoulFood</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}">
</head>

<body>
    <div id="wrap">

		<nav th:replace="~{navbar :: navbarFragment}"></nav>
		
        <h1>오레노라멘</h1>
        <br>
        <div class="rectang">
            <div class="info">
                <p><img th:src="@{/img/위치.png}">서울 마포구 독막로6길 14</p>
                <p><img th:src="@{/img/전화.png}">0507-1375-3539</p>
                <p><img th:src="@{/img/시간.png}">11:00 - 22:00</p><br>
            </div>
        </div>
            <br>
        <div class="rectangle">
            <div class="info">
                <h4>메뉴</h4><br>
                <p>토리빠이탄 라멘&emsp;12,000원</p>
                <p>카라빠이탄 라멘&emsp;12,000원</p>
                <p>챠슈추가&emsp;&emsp;12,000원</p>
            </div>
        </div>
            <br>
            <div class="rectangl">
                <div class="info">
                    <h4>소개</h4><br>
                    <p>19년부터 미슐랭을 받아온 라멘집이다.<br>
                        진한 닭베이스의 국물에 닭이 고명으로 올라간다.<br>
                        면 리필이 가능하다.</p>
                </div>
            </div>
            <br>
                    <!-- 지도가 표시될 div -->
    <div id="map" style="width:1280px;height:400px; margin: 0 auto;"></div>

    <!-- 카카오지도 API 스크립트 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7840ffe1e515c6c72f07ba3e3da854f2"></script>

    <script>
        // 카카오맵 SDK 로드 완료 시 호출되는 콜백 함수
        kakao.maps.load(function() {
            // 지도를 표시할 div
            var container = document.getElementById('map');
            // 지도의 중심 좌표 설정 (오레노라멘 좌표)
            var center = new kakao.maps.LatLng(37.5474781009242, 126.917334426108);
            var options = {
                center: center,
                level: 3
            };

            // 지도 생성
            var map = new kakao.maps.Map(container, options);

            // 지도에 마커 표시
            var marker = new kakao.maps.Marker({
                position: center, // 마커의 위치 설정 (오레노라멘 좌표)
                map: map
            });
        });
    </script>
                               
<br>
		<footer th:replace="~{footer :: footerFragment}"></footer>
    </div> 
</body>
</html>