<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SF SoulFood</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}">
</head>

<body>
    <div id="wrap">

		<nav th:replace="~{navbar :: navbarFragment}"></nav>
		
        <h1>우래옥</h1>
        <br>
        <div class="rectang">
            <div class="info">
                <p><img th:src="@{/img/위치.png}">서울 중구 창경궁로62-29</p>
                <p><img th:src="@{/img/전화.png}">0507-1425-1540</p>
                <p><img th:src="@{/img/시간.png}">11:30 - 21:00<br>
                (매주 월요일 정기 휴무)</p><br>
            </div>
        </div>
            <br>
        <div class="rectangle">
            <div class="info">
                <h4>메뉴</h4><br>
                <p>불고기&emsp;&emsp;37,000원</p>
                <p>평양냉면&emsp;16,000원</p>
                <p>비빔냉면&emsp;16,000원</p>
                <p>온면&emsp;&emsp;&emsp;16,000원</p>
            </div>
        </div>
            <br>
            <div class="rectangl">
                <div class="info">
                    <h4>소개</h4><br>
                    <p>서울 최고의 평양식 냉면 전문점 중 하나로 손꼽힌다.<br>
                        국내산 재료만을 사용하는 냉면과 고품질의 한우를 제공한다.<br>
                        대표 메뉴는 평양냉면과 불고기이다.</p>
                </div>
            </div>
            <br>
                    <!-- 지도가 표시될 div -->
    <div id="map" style="width:1280px;height:400px; margin: 0 auto;"></div>

    <!-- 카카오지도 API 스크립트 -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7840ffe1e515c6c72f07ba3e3da854f2"></script>

    <script>
        // 카카오맵 SDK 로드 완료 시 호출되는 콜백 함수
        kakao.maps.load(function() {
            // 지도를 표시할 div
            var container = document.getElementById('map');
            // 지도의 중심 좌표 설정 (우래옥 좌표)
            var center = new kakao.maps.LatLng(37.568218524634, 126.998714470746);
            var options = {
                center: center,
                level: 3
            };

            // 지도 생성
            var map = new kakao.maps.Map(container, options);

            // 지도에 마커 표시
            var marker = new kakao.maps.Marker({
                position: center, // 마커의 위치 설정 (우래옥 좌표)
                map: map
            });
        });
    </script>
                               
<br>
		<footer th:replace="~{footer :: footerFragment}"></footer>
    </div>    
</body>
</html>